/* universal selctor to reset all configuration*/
*{
    padding: 0%;
    margin: 0%;
/* width include all (pading, margin...) */
    box-sizing: border-box;
}
h1{
    width: 500px;
    border: 2px solid blue;
    padding: 20px;
}

h2{
    color: blue;
}

/* Nested selector */
.content p{
color: green;
font-size: 20px;
}
   
/* direct chlidren */
.content>p{
    /* color: green; */
    font-size: 20px;
    font-weight: bold;
    }

/* supprimer les points de list */
 ul{
    list-style: none;
 }   

 /* .list :nth-child(2){
    color: red;
    font-size: 35px;
 }

 .list :first-child{
    font-size: 35px;
    color: blueviolet;
 }

 .list :last-child{
    font-size: 35px;
    color: yellowgreen;
 } */

/* nombres impaires */
 .list :nth-child(2n+1){
    background-color: orange;
 }

 /* nombres paires */
 .list :nth-child(2n){
    background-color: blue;
 }

 .foodlist li{
    border: 3px solid orchid;
    margin: 5px;
 }
 .foodlist :nth-child(2n){
    list-style: none;

    background-color: brown;
 }